.box {
    width: 300px;
    height: 400px;
    background:radial-gradient(transparent,#000a);
    margin:0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;
}
body {
    background-color: red;
    margin: 0;
}
h1 {
    margin:0;
    color:#fff;
    text-align:center;
    padding: 20px;
    font-family: sans-serif;
}
.explicacion {
    display: block;
     width:300px;
     height: 300px;
     margin:0;
     background:linear-gradient(to right, transparent,blue, white);
     border-radius: 5px;
     margin: auto;
     border: 2px solid gray;
}