body {
    background-color: #333;
    color:#ddd;
    font-family: sans-serif;
}
details {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 9px;
    font-size: 0.7em;
    color:#ccc;
}
summary {
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    font-size:1em;
    color:#eee;
}
ul {
    font-weight:100;
}