body {
    margin:0;
    font-family:sans-serif;
}

img {
    width:400px;
    height:200px;
    /*lo mismo de las imagenes basicamente*/
    object-fit: none;
    /**object-position:*/
    border:2px solid #000;
    margin-top:50px;
    margin-left:50px;

}