body {
    margin:0px;
    font-family: sans-serif;
}

/*!aqui van otra inline-block (es una mezcla de los dos anteriores*/
.nav {
    background-color:#48e;
    margin:0px;
}
.nav__list {
    margin:0;
}
.nav__item {
    display:inline-block;
    padding:10px;
    background-color:#48e;
}
.nav__link {
    color:#fff;
    text-decoration: none;
}
.nav__item:hover {
    background-color:#59e;
}