body {
    margin:0;
    font-family: sans-serif;
}

h2 {
    font-size:18px;
    margin:0;
}

p {
    font-size:14px;
    margin:0;
}
.box {
    height:60px;
    width:200px;
    background:red;
    position:fixed;
    right:0;
    background-color:#fff;
    border: 2px solid #000;
    border-right: 0;
    box-shadow: 0 0 40px #000;
    /*casi igual al absolute*/ /*pero le da igual lo que le digamos*/
    /*!la diferencia es que la caja siempre se va a quedar ahi*/
}
.contenedor {
    padding:150px;
    background-color: blue;
    position:relative;
}
/*!desde la parte de el position es la parte para ponerlo sticky*/
.box-fixed {
    height:60px;
    width:200px;
    background:red;
    position:sticky;
    top:100px;
    z-index: 40px;
}

.first{
  top:130px;
}

.last {
    top: 170px;
}