/* Estilo para la tabla */
table {
    width: 100%;
        border-collapse: collapse;
    }
    
    /* Estilo para las celdas de encabezado y datos */
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #000;
    }
    
    /* Estilo para las celdas de encabezado */
    th {
        background-color: #f2f2f2;
    }
    
    /* Efecto hover para las filas */
    tr:hover {
        background-color: #f5f5f5;
    }
    